body {
    font-family: Arial, serif;
    background-color: #ebebeb;
    margin: 0;
    padding: 20px;
    font-size: 16px;
}

.order-pizza {
    max-width: 900px;
    margin: auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Двухколоночный макет */
.menu-pizza {
    display: flex;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
}

/* Левая колонка */
.selection-pizza {
    flex: 1;
    background-color: #fff;
    padding: 20px;
}


/* Карточки пицц */
.pizza-forms {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pizza-form {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.pizza-form:hover,
.order-pizza-toppings-form:hover {
    transform: scale(1.02);
    background-color: #d3d3d3;
    border-radius: 8px;
}

.pizza-form.selected,
.pizza-form.selected,
.size-option.selected,
.order-pizza-toppings-form.selected ,
.size-option:hover,
.size-option.active {
    border-color: #ff6600;
    background: #fff3e0;
}

.pizza-form.selected:hover,
.order-pizza-toppings-form.selected:hover {
    transform: scale(1.02);
    background-color: rgba(255, 102, 0, 0.76);
    border-radius: 8px;
}

.pizza-img {
    width: 160px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    justify-content: space-around;
}

/* Правая колонка */
.order-pizza-configuration {
    flex: 1;
    background-color: #fff;
    padding: 10px;

}

/* Кнопки размера */
.order-pizza-size-pizza-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.order-pizza-size-pizza-selector {
    display: flex;
    gap: 10px;
}

.size-option {
    padding: 10px 20px;
    border: 2px solid #ccc;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}


/* Добавки */
.order-pizza-toppings-forms {
    display: flex;
    flex-direction: row;
    gap: 15px;


}

.order-pizza-toppings-form {
    text-align: center;
    padding: 10px;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    flex-direction: column;
}

.topping-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

/* Кнопка заказа */
#calculateBtn {
    background-color: #ff6600;
    font-size: 13px;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 50px;
    width: 100%;
    display: block;
}

#calculateBtn:hover {
    background: #e55b00;
}