.list-item {
    font-size: 16px;
}

.list-item__inner {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 5px 0;
}

.list-item__items {
    padding-left: 2.5em;
    display: none;
}

.list-item__arrow {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    flex-shrink: 0;
    filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(98%) contrast(92%);
    transition: transform 0.2s ease;
}

.list-item__arrow.placeholder {
    width: 1.5em;
    height: 1.5em;
    cursor: default;
    background: transparent;
}

.list-item__folder {
    width: 2em;
    height: 2em;
    filter: brightness(0) saturate(100%) invert(12%) sepia(54%) saturate(2870%) hue-rotate(335deg) brightness(91%) contrast(91%);
}

.list-item_open > .list-item__items {
    display: block;
}

.list-item_open > .list-item__inner .list-item__arrow {
    transform: rotate(180deg);
}