@import "./global.scss";
@import "./fonts.scss";
@import "./utils.scss";

/*
   1. БАЗОВЫЕ СТИЛИ (ОБЩИЕ ДЛЯ ВСЕХ УСТРОЙСТВ)
*/

body {
  margin: 0;
  width: 100%;
  background-color: rgb(235, 236, 237);
  font-family: 'Inter', sans-serif;
  padding: 24px 0 0 0;
}

.header__text {
  margin: 0; padding: 0;
  font-weight: 700;
  line-height: 144%;
  letter-spacing: 0.3px;
  text-align: left;
  color: rgba(16, 24, 40, 1);
}

.subheader__text {
  font-size: 20px; font-weight: 700; line-height: 24px;
  letter-spacing: 0.3px; text-align: left; color: rgba(16, 24, 40, 1);
  margin: 0;
}

.default__text {
  font-size: 15px; font-weight: 500; line-height: 20px;
  text-align: left; color: rgba(16, 24, 40, 1);
  margin: 0;
}

.text_color_blue { color: #2d66ee; }
.text_color_white { color: white; }


/* ФОРМА ОБРАТНОЙ СВЯЗИ */
.feedback__form {
  display: flex; flex-direction: column; justify-content: space-between;
}

.feedback__field {
  display: flex; flex-direction: column;

  .form__label {
    color: rgba(102, 112, 133, 1);
    font-size: 13px; font-weight: 500; line-height: 16px; text-align: left;
  }

  #feedback__phone, #feedback__name {
    height: 30px; border: none; border-bottom: 1px solid rgba(208, 213, 221, 1);
    font-size: 17px; font-weight: 400; line-height: 22px;
    letter-spacing: -0.4px; color: rgba(16, 24, 40, 1);
  }

  #feedback__phone {
    padding-left: 22px; margin-left: -1px; width: 175px;
  }

  #feedback__name {
    margin-left: -2px; padding-left: 2px;
  }

  #feedback_image {
    position: absolute; margin-top: 6px; width: 20px; height: 20px;
  }
}

.feedback__button {
  width: 165px; height: 40px; border: none; background-color: #2d66ee;
  color: white; cursor: pointer; border-radius: 8px;
  font-size: 14px; font-weight: 700;

  &:hover { background-color: #0f52ee; }
}


/* ФОН (Общие стили) */
.main__background {
  display: flex;
  transform: rotate(-12deg);

  .background__image {
    height: auto; border-radius: 24px;
    .main__image {
      box-shadow: 0 0 96px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.16);
    }
  }
}


/* FOOTER (Общие стили элементов) */
.footer__block {
  display: flex; flex-direction: column; align-items: center;
  gap: 32px; background-color: #101828; border-radius: 12px;
  padding: 32px 0; width: 100%;

  .footer__logo {
    height: 36px; font-size: 36px;
    font-weight: 700; text-align: center; text-decoration: none;
  }

  .footer__main {
    display: flex; align-items: center; justify-content: space-between;
    width: 100%; height: 54px;
  }

  .footer__bottom {
    display: flex; justify-content: center; align-items: center; gap: 12px;
    p { font-size: 13px; font-weight: 400; }
  }
}

.footer__item {
  display: flex; flex-direction: column;
  height: 54px; gap: 8px;

  .footer__item__header { display: flex; align-items: center; justify-content: center; }
  .icon__grayscale { filter: grayscale(90%) brightness(160%); }
  .footer__text {
    font-size: 14px; font-weight: 500; margin-left: 10px; color: rgba(152, 162, 179, 1);
  }
}


/* DEVELOPMENT LIST (Общие стили) */
.development__list {
  padding: 0; list-style-type: none;
  .development__item {
    display: flex; align-items: center;
    /* height отличается */
    a { color: black; text-decoration: none; }
    a:hover { font-weight: 600; border-bottom: 1px solid #2d66ee; }
    .development__arrow { margin-left: 10px; }
  }
}


/*
   2. МОБИЛЬНАЯ ВЕРСИЯ (до 767px)
*/
@media (max-width: 767px) {
  body {
    display: flex; flex-direction: column; align-items: center;
    .container { width: 100%; height: 100%; overflow: hidden; }
    .header__text { font-size: 28px; }

    .form {
      width: 97vw; max-width: 97vw; padding: 7vw 4vw;
      border-radius: 8px; box-sizing: border-box; margin: 0 auto;
    }
    .intro-title { font-size: 15px; margin-bottom: 6px; word-break: break-word; }
    .form-elements { flex-direction: column; gap: 10px; align-items: stretch; width: 100%; }
    .form-field, .phone-field { width: 100%; min-width: 0; }

    .consult-btn {
      width: 100%; min-width: 0; margin-left: 0;
      font-size: 15px; padding: 11px 0; border-radius: 7px; align-self: stretch;
      text-align: center;
    }
    .feedback__button {
      padding: 11px 24px; text-align: center;
    }

    .header {
      margin: 0; background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
      padding: 16px; height: 90px; width: 99%; max-width: 720px;
      border-radius: 12px; z-index: 3; display: flex; align-items: center;

      .burger {
        position: absolute; display: flex; justify-content: flex-start; align-items: center;
        cursor: pointer; height: 20px; margin-left: 0;
        .burger__menu {
          display: block; z-index: 4; background-color: #2d66ee; width: 40px; height: 4px;
          &:before, &:after {
            content: ""; position: absolute; display: block;
            width: 40px; height: 4px; background-color: #2d66ee;
          }
          &:before { margin-top: 8px; }
          &:after { margin-top: -8px; }
        }
      }
      .logo { width: 100%; font-size: 20px; font-weight: 700; text-decoration: none; text-align: center; }
      &__menu, &__contacts { display: none; }
    }

    .main {
      width: 100%; height: auto; background-color: rgb(235, 236, 237);
      display: flex; justify-content: center;

      .container {
        padding: 70px 10px 0 40px;
        min-height: 1000px; max-height: 1227px;
        display: flex; flex-direction: column; justify-content: space-between; align-items: center;

        .main__description {
          width: 100%; height: auto; min-height: 150px; margin: 0;
          display: flex; flex-direction: column; justify-content: space-between;
          padding-right: 30px; max-width: 600px;
        }

        .main__feedback {
          position: absolute; margin-top: 650px; z-index: 2;
          display: flex; flex-direction: column; justify-content: space-between;
          width: 90%; max-width: 600px; height: auto; min-height: 350px;
          padding: 24px; background-color: white; order: 3;
          border-radius: 12px;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(0, 0, 0, 0.16);

          .feedback__form { width: 100%; height: 215px; }
          .feedback__field { width: 100%; height: auto; }
          #feedback__name { width: 80%; }
        }

        .main__background__image {
          padding: 0; height: 867px; margin-top: 20px; margin-left: 50%; order: 2;

          .main__background {
            padding-left: 70px; padding-right: 70px; width: 440px;
            flex-wrap: wrap; justify-content: space-between;

            .background__image {
              margin-bottom: 20px; width: 137px;
              .main__image { width: 146px; }
            }
          }
        }
      }
    }

    .development {
      width: 100%; height: auto; background-color: white;
      display: flex; justify-content: center;

      .container {
        padding: 40px 30px;
        display: flex; flex-direction: column; justify-content: space-between;
        align-items: flex-start; gap: 32px; max-width: 600px;

        .development__technologies {
          width: 100%; gap: 32px; display: flex; flex-direction: column; align-items: flex-start;
          .techno__header {
            display: flex; flex-direction: column; gap: 16px;
            .development__tools {
              margin: 0; padding: 0; width: 100%; display: flex; flex-wrap: wrap;
              .tool {
                font-size: 14px; font-weight: 500; line-height: 1.1px;
                &:after { content: " /\00A0"; color: #2d66ee; }
                &:last-child:after { content: ""; }
              }
            }
          }
        }

        .development__categories {
          width: 233px; height: 340px; display: flex; flex-direction: column; justify-content: space-between;
          .development__list .development__item {
            height: 48px;
            a { font-size: 20px; }
          }
        }
      }
    }

    .footer {
      width: 100%; height: auto; background-color: white;
      .container {
        margin: 0;
        .footer__block {
          .footer__logo { width: 217px; margin-top: 10px; }
          .footer__main {
            flex-wrap: wrap; flex-direction: column; justify-content: space-between;
            height: 142px; padding-left: 10px;
          }
          .footer__item {
            justify-content: space-around;
            max-width: 155px; margin: 0 13%;
          }
        }
      }
    }
  }
}

/*
   3. ПЛАНШЕТНАЯ ВЕРСИЯ (768px - 1439px)
*/
@media (min-width: 768px) and (max-width: 1439px) {
  body {
    .container { padding-left: 10%; width: 100%; height: 100%; max-width: 1420px; }
    .form { max-width: 96vw; padding: 18px 12px; border-radius: 11px; font-size: 15px; }
    .form-elements { gap: 18px; }
    .consult-btn { font-size: 15px; min-width: 130px; padding: 11px 14px; }
  }

  .header__text { font-size: 28px; }

  .header {
    margin: 0; position: absolute; background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    padding: 16px; height: 90px; width: 100%; max-width: 1400px;
    border-radius: 12px; z-index: 3; display: flex; align-items: center; justify-content: space-between;

    .burger {
      display: flex; justify-content: flex-start; align-items: center;
      cursor: pointer; width: 200px; height: 40px;
      .burger__menu {
        display: block; z-index: 4; background-color: #2d66ee; width: 59px; height: 8px;
        &:before, &:after {
          content: ""; position: absolute; display: block; width: 59px; height: 8px; background-color: #2d66ee;
        }
        &:before { margin-top: 16px; }
        &:after { margin-top: -16px; }
      }
    }
    .logo { min-width: 120px; font-size: 20px; font-weight: 700; text-decoration: none; }
    .header__menu { display: none; }
    .header__contacts {
      width: 200px; display: flex; align-items: center; justify-content: flex-end;
      .contacts__phone { display: none; }
      .contacts__email {
        display: flex; align-items: center; justify-content: flex-end;
        margin-left: 1%; width: 100%; max-width: 170px;
        .image__email { height: 14px; width: 18px; margin-right: 2%; }
        .contacts__info { font-size: 14px; font-weight: 500; margin: 0; }
      }
    }
  }

  .main {
    margin: 0; padding: 0; width: 100%; height: auto;
    display: flex; flex-direction: column; align-items: center;
    background-color: rgb(235, 236, 237);

    .container {
      padding-top: 108px; height: auto;
      .main__description {
        width: 383px; height: 204px; display: flex; flex-direction: column; justify-content: space-between;
        .header__text { width: 383px; height: 120px; }
        .default__text { width: 383px; height: 60px; }
      }

      .main__feedback {
        z-index: 2; display: flex; flex-direction: column; justify-content: space-between;
        width: 383px; height: 356px; margin-top: 64px; padding: 24px;
        background-color: white; border-radius: 12px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(0, 0, 0, 0.16);

        .feedback__form {
          width: 295px; height: 230px;
          .feedback__field { width: 224px; height: 54px; }
          #feedback__name { width: 200px; }
          .feedback__button { padding: 11px 24px; text-align: center; }
        }
      }

      .main__background__image {
        height: 860px; padding: 0; overflow: hidden;
        margin-top: -790px; margin-left: 50%;

        .main__background {
          padding-left: 90px; width: 400px; height: 900px;
          flex-wrap: wrap; justify-content: space-between;

          .background__image {
            margin-bottom: 20px; width: 137px;
            .main__image { width: 146px; }
          }
        }
      }
    }
  }

  .development {
    width: 100%; height: auto; background-color: white;
    .container {
      display: flex; justify-content: space-between; align-items: flex-end;
      padding: 50px 20px 50px 0; max-width: 1050px;
      .development__technologies {
        max-width: 345px; max-height: 400px; width: 50%; gap: 32px;
        height: auto; display: flex; flex-direction: column;
        .techno__header {
          display: flex; flex-direction: column; gap: 16px;
          .development__tools {
            width: 100%; display: flex; flex-wrap: wrap;
            .tool {
              font-size: 14px; font-weight: 500;
              &:after { content: " /\00A0"; color: #2d66ee; }
              &:last-child:after { content: ""; }
            }
          }
        }
      }
      .development__categories {
        max-width: 233px; width: 50%; min-height: 340px;
        display: flex; flex-direction: column;
        .development__list .development__item {
          height: 48px;
          a { font-size: 20px; }
        }
      }
    }
  }

  .footer {
    width: 100%; height: 241px;
    .container {
      padding: 0; margin: 0;
      .footer__block {
        .footer__logo { width: 100%; margin-top: 0; }
        .footer__item {
          justify-content: space-around;
          width: 170px;
        }
      }
    }
  }
}

/*
   4. ДЕСКТОП ВЕРСИЯ (от 1440px)
*/
@media (min-width: 1440px) {
  body {
    .container { padding-left: 108px; padding-top: 108px; }
    .form {
      max-width: 540px; padding: 32px 38px;
      border-radius: 16px; margin: 48px auto; font-size: 17px;
    }
    .form-elements { gap: 38px; }
    .consult-btn { font-size: 18px; min-width: 180px; padding: 15px 32px; }
  }

  .header__text { font-size: 36px; line-height: 51px; }

  .header {
    background-color: white; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    padding: 16px 24px; height: 56px; max-width: 1472px; width: 90%;
    border-radius: 12px; z-index: 3; display: flex; align-items: center; justify-content: space-between;
    position: fixed; margin-left: 108px;

    .burger { display: none; }
    .logo { min-width: 120px; font-size: 20px; font-weight: 700; text-decoration: none; }

    &__menu {
      max-width: 314px; margin: 0 5px; width: 100%; height: 18px;
      .menu {
        list-style-type: none; display: flex; justify-content: space-between; padding: 0; margin: 0;
        .menu__item {
          a { color: #101828; font-size: 14px; font-weight: 500; text-decoration: none; }
          a:hover { font-weight: 600; border-bottom: 2px solid #2d66ee; }
        }
      }
    }

    .header__contacts {
      display: flex; justify-content: space-around; width: 100%; max-width: 500px;
      .contacts__phone {
        display: flex; align-items: center; justify-content: space-between; width: 100%; max-width: 250px;
        .image__phone { height: 20px; max-width: 20px; }
      }
      .contacts__email {
        display: flex; align-items: center; justify-content: space-between; margin-left: 1%; width: 100%; max-width: 170px;
        .image__email { height: 16px; width: 20px; }
      }
      .contacts__info { font-size: 14px; font-weight: 500; margin: 0; }
    }
  }

  .main {
    margin: 0; padding: 0; width: 100%; height: 817px;
    background-color: rgb(235, 236, 237);

    .main__description {
      width: 600px; height: 220px;
      .description__header { margin-bottom: 30px; }
    }

    .main__feedback {
      z-index: 2; display: flex; flex-direction: column; justify-content: space-between;
      width: 99%; max-width: 676px; height: 186px; margin-top: 64px; padding: 24px;
      background-color: white; border-radius: 12px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(0, 0, 0, 0.16);

      .subheader__text { width: 500px; }

      .feedback__form {
        width: 628px; height: 58px; opacity: 0;
        .feedback__field { width: 224px; height: 54px; }
        #feedback__name { width: 200px; }
        .feedback__button { padding: 11px 24px; text-align: left; }
      }
    }

    .main__background__image {
      padding: 0; height: 1400px; overflow: hidden;
      margin-top: -1150px; margin-left: 450px; width: 1200px;

      .main__background {
        padding-left: 50px; width: 1100px; height: 1200px;
        flex-wrap: nowrap;
        gap: 40px;

        .background__image {
          margin-bottom: 0; width: 450px;
          flex-shrink: 0; will-change: transform;
          .main__image { width: 100%; }

          &:first-child { animation: moveVertical 8s linear infinite alternate; }
          &:last-child { animation: moveVerticalReverse 8s linear infinite alternate; }

          @keyframes moveVertical {
            0% { transform: translateY(-10%); }
            100% { transform: translateY(10%); }
          }
          @keyframes moveVerticalReverse {
            0% { transform: translateY(10%); }
            100% { transform: translateY(-10%); }
          }
        }
      }
    }
  }

  .development {
    width: 100%; height: 618px; background-color: white;
    .container {
      display: flex; justify-content: space-between; align-items: flex-start;
      max-width: 1200px; padding-right: 10px;
      .development__technologies {
        width: 496px; height: 200px;
        .header__text { margin-bottom: 32px; }
        .default__text { margin-bottom: 34px; }
        .subheader__text { margin-bottom: 24px; margin-top: 24px; }
        .development__tools {
          margin: 0; padding: 0; width: 100%; display: flex; flex-wrap: wrap;
          .tool {
            font-size: 14px; font-weight: 500;
            &:after { content: " /\00A0"; color: #2d66ee; }
            &:last-child:after { content: ""; }
          }
        }
      }
      .development__categories {
        width: 233px; height: 380px;
        .development__list .development__item {
          height: 40px;
          a { font-size: 20px; }
          .development__arrow { margin-left: 10px; }
        }
      }
    }
  }

  .footer {
    width: 100%; background-color: white; height: 230px;
    .container {
      padding-top: 0; padding-right: 20px; max-width: 1600px;
      .footer__block {
        .footer__logo { width: 100%; max-width: 250px; margin: 0; }
        .footer__item {
          justify-content: space-between;
          min-width: 153px; height: 34px;
        }
      }
    }
  }
}